@font-face {
    font-family: 'Eurostile';
    src: url('../css/EurostileRegular.eot');
    src: url('../css/EurostileRegular.eot?#iefix') format('embedded-opentype'),
         url('../css/EurostileRegular.woff') format('woff'),
         url('../css/Eurostile.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }

    * {
        margin: 0%;
        padding: 0%;
    }

    @keyframes blinking {
        from {border: 1px solid rgba(42, 250, 250, 1)}
        to {border: 1px solid rgba(42, 250, 250, 0)}
    }

    @keyframes blinking2 {
        from {opacity: 1}
        to {opacity: 0}
    }

    @keyframes rotate {
        from {transform: rotateY(0deg)}
        to {transform: rotateY(360deg)}
    }

    body {
        background-color: #182021;
        font-family: 'Eurostile';
        color: #2afafa;
        letter-spacing: 1px;

    }

    .flexDate {
        margin-top: 5%;
        display: flex;
        justify-content: center;
    }

    #clock {
        font-size: 3vmin;
        text-align: center;
        height: fit-content;
        width: fit-content;
        padding: 1%;
        background: rgba(42, 250, 250, 0.3);
        border: 1px solid #2afafa;
      }

    #date {
        margin-top: 2%;
        margin-bottom: 5%;
        font-size: 2.4vmin;
        text-align: center;
    }

    .flexDash {
        display: flex;
        justify-content: space-evenly;
    }

    .rawTitle {
        height: fit-content;
        width: fit-content;
        padding: 7px;
        border: 1px solid #2afafa;
        font-size: 2.7vmin;
    }

    #bodyData {
        animation-name: blinking;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    #rawDataIN {
        margin-top: 7%;
        line-height: 2;
        font-size: 2.2vmin;
    }

    #iconT, #iconH {
        animation-name: rotate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    #moodIN {
        margin-top: 7%;
        line-height: 1.8;
        font-size: 2.2vmin;
        padding-top: 10px;
    }

    .activityTitle {
        margin-top: 10%;
        height: fit-content;
        width: fit-content;
        padding-left: 5px;
        padding-right: 35px;
        background: rgba(42, 250, 250, 0.3);
        border: 1px solid #2afafa;
        border-left: 7px solid #2afafa;
        font-size: 2.2vmin;
    }

    .activity {
        margin-top: 5%;
        height: fit-content;
        width: fit-content;
        background: rgba(42, 250, 250, 0.3);
        font-size: 2vmin;
    }

    .activityTitleR {
        margin-top: 10%;
        height: fit-content;
        width: fit-content;
        padding-left: 5px;
        padding-right: 35px;
        background: rgba(186, 27, 27, 0.3);
        border: 1px solid #ba1b1b;
        border-left: 7px solid #ba1b1b;
        font-size: 2.2vmin;
        color: #ba1b1b;
    }

    .activityR {
        margin-top: 5%;
        height: fit-content;
        width: fit-content;
        background: rgba(186, 27, 27, 0.3);
        font-size: 2vmin;
        color: #ba1b1b;
    }

    .flexLeft {
        display: flex;
        justify-content: space-between;
    }

    .orderBox {
        align-items: flex-end;
        height: fit-content;
        width: fit-content;
        background: rgba(42, 250, 250, 0.3);
        border: 1px solid #2afafa;
        margin-top: 3.5%;
        padding: 2%;
        font-size: 1.5vmin;
        color: #2afafa
    }

    .attention {
        color: #ba1b1b;
    }

    #fioSuggest2 {
        margin-top: 2.1%;
    }

    .rawIcon {
        width: 2vmin;
    }

    .slide {
        width: 30vmin;
        height: max-content;
    }

    #quest {
        width: max-content;
        height: max-content;
        background: rgba(186, 27, 27, 0.3);
        border: 1px solid #ba1b1b;
        color: #ba1b1b;
        padding-left: 3px;
        padding-right: 3px;
        margin-left: 2%;
        opacity: 0;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    #alertBox {
        width: max-content;
        height: max-content;
        background: rgba(186, 27, 27, 0.3);
        border: 1px solid #ba1b1b;
        color: #ba1b1b;
        padding: 5px;
        opacity: 0;
        margin-top: 5%;
        margin-left: 20%;
    }

#str1, #str2 {
    opacity: 0;
    display: none;
}